# Filter (1) 'Variant Ranking'
# --------------------------------------------------------------------------
# - High REMM Score
# - Whitelisted Functional Classes (Sequence Ontology)
# - Discard clinvar 'BENIGN' unless conflicting

filter_1:
    functional_classes: ['FRAMESHIFT_ELONGATION', 'FRAMESHIFT_TRUNCATION',
    'FRAMESHIFT_VARIANT', 'INTERNAL_FEATURE_ELONGATION', 'FEATURE_TRUNCATION',
    'STOP_GAINED', 'STOP_LOST', 'START_LOST', 'SPLICE_ACCEPTOR_VARIANT',
    'SPLICE_DONOR_VARIANT', 'MISSENSE_VARIANT', 'INFRAME_INSERTION',
    'DISRUPTIVE_INFRAME_INSERTION', 'INFRAME_DELETION', 'DISRUPTIVE_INFRAME_DELETION',
    'SPLICE_REGION_VARIANT', 'REGULATORY_REGION_VARIANT', 'CUSTOM']
    remm_min: 0.5
    af_max: 0.1

# Filter (2) 'Phenotype Ranking'
# --------------------------------------------------------------------------
# - Using [TOP K] uniquely valued gene_phenotype_score
# - Filer EXOMISER_VARIANT_SCORE
# - Use HPO Annotations / Ontology to recommend Phenotypes
# - Establish 'distinct phenotypes' from a list of candidates

filter_2:
    hpo_ontology: $obo
    hpo_annotation: $annotation
    hpo_annotation_disease: $annotation_disease
    top_k: 20
    max_pheno: 10
    variant_score_min_cat_1: 0.90
    variant_score_min_cat_2: 0.85
    
# Filter (3) 'Isolate Variants'
# --------------------------------------------------------------------------
# - Extract High Scoring Variants (TOP_V combined scoring variants)
# - Connect results to Genes and Diseases 

filter_3:
    top_v: 5
