profiles {
    standard {
        process.executor = 'local'
    }
}

env {
    // --------------------------------------------------------------
    // Credentials, Tools, Reference Data
    // --------------------------------------------------------------
    pipeline_credentials    = "/opt/diver/pipeline/credentials.json"
    login_api               = "http://localhost:8080/user/login"
    logout_api              = "http://localhost:8080/user/logout"
    graphql_api             = "http://localhost:8080/graphql"
    vcfanno                 = "/opt/vcfanno/vcfanno"
    exomiser                = "/opt/exomiser/exomiser-cli-11.0.0.jar"
    exomiser_properties     = "/opt/exomiser/application.properties"
    vcfanno_clinvar_lua     = "/opt/vcfanno/config/clinvar.lua"
    vcfanno_clinvar_toml    = "clinvar.toml"
    clinvar_grch37          = "/opt/vcfanno/references/grch37/clinvar_20190805.vcf.gz"
    clinvar_grch38          = "/opt/vcfanno/references/grch38/clinvar_20190805.vcf.gz"
    picard                  = "/opt/picard/picard.jar"
    filter                  = "/opt/filters/gd-filters-0.1.1-beta/bin/gd-filters"
    obo                     = "/opt/filters/hp.obo"
    annotation              = "/opt/filters/ALL_SOURCES_ALL_FREQUENCIES_genes_to_phenotype.txt"
    annotation_disease      = "/opt/filters/phenotype.hpoa"

    // --------------------------------------------------------------
    // raw          is the input of exomiser(1) 
    // rare         is the output of exomiser(1) 
    // rare_sorted  is the input to exomiser(2) 
    // --------------------------------------------------------------
    raw                     = "raw.vcf"

    prefix_ex1              = "rare"
    rare                    = "rare.vcf"
    rare_fixed              = "rare.fixed.vcf"
    rare_sorted             = "rare.sorted.vcf"     
    rare_annotated          = "rare.annotated.vcf"
    rare_annotated_filtered = "rare.annotated.1.vcf"
  
    prefix_ex2              = "rare.refined"
    rare_refined            = "rare.refined.vcf"
    shortlist_csv           = "shortlist.csv"
    shortlist_vcf           = "shortlist.vcf"

    // --------------------------------------------------------------
    // YAML configuration files 
    // --------------------------------------------------------------
    filter_yml              = "filter.yml"
    exomiser_yml            = "exomiser.yml"
}

// --------------------------------------------------------------
// Default Parameters for both pipeline runs. 
// --------------------------------------------------------------
params {
    dir = false
    patient = false
    vcf = false
    ref_assembly = false
    hpo = false
    analysis = false

    help = false
    tracedir = "${params.dir}/meta/analysis-${params.analysis}/pipeline-info"
}

// --------------------------------------------------------------
// Capture exit codes from upstream processes when piping
// --------------------------------------------------------------
process.shell = ['/bin/bash', '-euo', 'pipefail']


// --------------------------------------------------------------
// Next Reporting 
// --------------------------------------------------------------
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}

trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
